html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", "Arial", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.bg-orange-self, .btn-orange-self {
  background-color: #fd7e14;
  color: #ffffff;
}

.js-todo__check {
  order: -1;
}

.is-done .js-todo__text {
  text-decoration: line-through;
  opacity: 0.5;
}

.custom-checkbox {
  width: auto;
}

.js-todo:hover .js-todo__remove,
.js-todo:focus .js-todo__remove {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.js-todo__remove {
  opacity: 0;
}

.self-modal {
  position: absolute;
  top: -100%;
  left: 50%;
  transition: top 0.7s ease;
  transform: translateX(-50%);
}

.self-modal--open {
  top: 0;
  z-index: 100;
  display: block;
}

.self-modal-curtain {
  opacity: 0;
  transition: opacity 0.7s ease;
}

.self-modal--open + .self-modal-curtain {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}