html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", "Arial", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.bg-orange-self, .btn-orange-self {
  background-color: #fd7e14;
  color: #ffffff;
}

.js-todo__check {
  order: -1;
}

.is-done .js-todo__text {
  text-decoration: line-through;
  opacity: 0.5;
}

.js-todo__remove {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.js-todo__remove:hover {
  opacity: 1;
}
