html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Fredoka One", "Arial", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.bg-orange-self, .btn-orange-self {
  background-color: #fd7e14;
  color: #ffffff;
}
